/* 
var(--accent-orange);
*/

:root {
  --primary: #283038;
  --accent-white: #F3F3F3;
  --accent-white40: #FEF3F340;
  --accent-white99: #FEF3F399;
  --audionode-yellow1: #C5CF3B;
  /* --accent-orange: #E1A12D; */
  --accent-orange: #FAA503;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  touch-action: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

input[type=checkbox] {
  background: #E38D16;
  filter: hue-rotate(191deg) brightness(1.08);
}

a {
  text-decoration: none;
  color: var(--accent-white);
}

#app {
  display: grid;
  grid-template-rows: 41px 1fr 40px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  color: var(--accent-white);
  font-size: 18px;
  overflow: hidden;
}

#canvas {
  border: 1px solid #E316AC;
  touch-action: none;
  background: #FFFFFF;
}

.node-body {
  rx: 0.1px;
}

.app-button {}

.app-button:active {
  filter: brightness(0.8);
}

.button-icon {
  fill: #EAEAEA;
  color: var(--accent-white);
}

#app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  padding: 4px 4px;
  overflow: hidden;
}

.app-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 0px 8px 0px;
}

#app-header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  color: var(--accent-white40);
  letter-spacing: 16px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  padding: 2px 8px 16px 8px;
  white-space: nowrap;
}

#app-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
}

.app-header-row.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 0;
}

#param-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

#app-body {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#scene {
  /* background: #CE1919; */
  
}

#surface-layer {}

#surface {}

.hud-text {
  font-size: 0.4em;
}

#detail-pane .content-top:active {
  filter: brightness(0.85);
  transition: 0.25s ease;
}

#detail-pane .content-object {
  /* height: 96px; */
  transition: 0.25s ease-out;
}

#detail-pane[data-expanded=true] .content-object {
  /* width: 12px; */
  height: 22px;
}


#toolbox {
  stroke: #FEFEFE;
  stroke-width: 0.5px;
  filter: drop-shadow(0 0.0rem 0.8px #3C3D41AB);
  overflow: hidden;
}

#toolbox-surface {
  transition: width 0.25s, height 0.2s, rx 0.15s, ry 0.15s, transform 0.2s;
}

#toolbox[data-expanded=true] #toolbox-surface {
  width: 12px;
  height: 96px;
  ry: 6px;
  rx: 6px;
  filter: drop-shadow(0 0.0rem 0.8px #3C3D41AB);
  transform: translate(0, -44px);
}

#toolbox[data-expanded=true] #toolbox-icon {
  display: none;
}


#toolbox[data-expanded=false] #toolbox-objects,
#toolbox[data-expanded=false] #toolbox-objects * {
  transform: scale(0);
  overflow: hidden;
}

.toolbox-object>.toolbox-object {
  fill: #FEFEFE;
  stroke: #000000;
  stroke-width: 0.5px;
  filter: drop-shadow(0 0.0rem 0.02rem #F1F1F1CF);
  transition-delay: 0.15s;
}

.canvas-object {
  fill: #FEFEFE;
  stroke: #000000;
  filter: drop-shadow(0 0.003rem 0.005rem #37393D65);
  pointer-events: none;
}

.canvas-object * {
  transition: 0.2s;
}

.selector-marker {
  fill: transparent;
  stroke: #F9AD23;
  stroke-width: 0.015rem;
  filter: drop-shadow(0 0.07rem 0.0025rem #535559B3);
  pointer-events: none;
}

.select-box {
  fill: transparent;
  stroke: #23F950;
  stroke-width: 0.015rem;
  filter: drop-shadow(0 0.07rem 0.0025rem #535559B3);
  pointer-events: none;
}

#scene .object-container[data-selected=false][data-focused=false] {
  filter: drop-shadow(0 0 0 #FFFFFF00);
}

#scene .object-container[data-selected=false][data-focused=false] .overlay-slot * {
  fill: transparent;
  stroke: transparent;
  opacity: 0;
}

#scene .object-container[data-selected=false][data-focused=false] .vertex {
  fill: transparent;
  stroke: transparent;
  opacity: 0;
}

#scene .object-container[data-selected=false][data-focused=false] .selector-marker {
  fill: transparent;
  stroke: transparent;
  filter: drop-shadow(0 0.07rem 0.0025rem #535559B3);
}

.object-container[data-selected=true][data-focused=false] .selector-marker {
  /* fill: transparent; */
  stroke: #F9AD23;
  stroke-width: 0.05rem;
  filter: drop-shadow(0 0.07rem 0.0025rem #535559B3);
}

.object-container[data-focused=true] .selector-marker {
  fill: transparent;
  stroke: #F01010;
  stroke: var(--accent-orange);
  stroke-width: 0.05rem;
  filter: drop-shadow(0 0.07rem 0.0025rem #535559B3) contrast(1.4);
}

.object-container[data-focused=true] .object-slot {
  filter: drop-shadow(0 0.07rem 0.0025rem #535559B3);
}

.content-container {
  display: grid;
  grid-template-rows: 20px 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 4px;
  
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #666666;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
}

.content-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  height: 100%;
  color: #504E4E;
  font-size: 12px;
}

.content-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px;
  font-weight: 800;
  backdrop-filter: brightness(0.9);
}

.content-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  padding: 2px 8px;
  font-weight: 500;
  border-bottom: 1px solid #E0E0E0;
}

.content-field:last-of-type {
  border-bottom: 1px solid transparent;
}

.field-name {
  font-weight: 600;
}

.coord-text {
  font-weight: 700;
  font-size: 0.75rem;
  fill: #16161694;
  stroke: #FFFFFF90;
  fill: #FFFFFFD4;
  stroke: #00000090;
  stroke-width: 0.035rem;
  width: fit-content;
  /* filter: invert(1); */
}

.vertex {
  fill: red;
  stroke: #222222;
  r: 1.25px;
  stroke-width: 0.0075rem;
  /* stroke-width: 0; */
}

[data-object-type=point] {
  fill: red;
  /* fill: #FF0000; */
  stroke: #000000;
  stroke-width: 0.01rem;
  r: 1.5px;
  filter: drop-shadow(0 0.063rem 0.0023rem #5355598F);
}